In [2]:
#Auteur Khéo
import pandas as pd 
import numpy as np

In [3]:
df = pd.read_csv('total.csv', index_col=0)
df.head()

,date,titre,budget,recette,duree,genres,synopsis,tagline,realisateur,casting,compagnies_production,suite,production_countries,langues,imdb_id,vote_average,vote_count,status
0,2014-11-12,Dumb and Dumber To,40000000,169837010,110,['Comedy'],"20 years since their first adventure, Lloyd an...",The average person uses 10% of their brain cap...,"['Bobby Farrelly', 'Peter Farrelly']","['Jim Carrey', 'Jeff Daniels', 'Laurie Holden'...","['New Line Cinema', 'Universal Pictures', 'Con...",3,['US'],['en'],tt2096672,5.542,2740,Released
1,2004-11-11,Марс,2000000,240000,100,"['Comedy', 'Drama']","Somewhere deep, deep in Russia there is a town...",NaN,['Anna Melikyan'],"['Nana Kiknadze', 'Artur Smolyaninov', 'Yevgen...","['Central Partnership', 'Studio SLON']",1,['RU'],['ru'],tt0417949,5.700,3,Released
2,2014-01-22,"I, Frankenstein",65000000,76801179,92,"['Horror', 'Thriller']","200 years after his shocking creation, Dr. Fra...","In the battle between good and evil, an immort...",[],"['Aaron Eckhart', 'Yvonne Strahovski', 'Bill N...","['Lakeshore Entertainment', 'Sidney Kimmel Ent...",1,"['AU', 'US']",['en'],tt1418377,5.272,1628,Released
3,2014-03-20,Captain America: The Winter Soldier,170000000,714766572,136,"['Action', 'Adventure', 'Science Fiction']",After the cataclysmic events in New York with ...,In heroes we trust.,"['Anthony Russo', 'Joe Russo']","['Chris Evans', 'Scarlett Johansson', 'Sebasti...",['Marvel Studios'],2,['US'],['en'],tt1843866,7.678,16638,Released
4,2013-09-11,Vikingdom,15600000,747872,114,['Adventure'],A warrior fleeing the violence of his past mus...,Live by the Sword.,[],"['Dominic Purcell', 'Natassia Malthe', 'Craig ...",['KRU Studios'],1,['MY'],"['en', 'zh']",tt1785669,4.380,54,Released

In [8]:
print(df['date'])

0       2014-11-12
1       2004-11-11
2       2014-01-22
3       2014-03-20
4       2013-09-11
           ...
7772    2010-06-25
7773    2007-04-13
7774    1933-04-15
7775    1987-09-01
7776    2015-04-22
Name: date, Length: 7777, dtype: object