### Import des bibliothèques et du dataframe brut

In [124]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [125]:
df = pd.read_csv('data\data_film.csv', index_col=0)
df.head()

,date,titre,budget,recette,duree,genres,synopsis,tagline,realisateur,casting,compagnies_production,suite,production_countries,langues,imdb_id,vote_average,vote_count,status
0,2014-11-12,Dumb and Dumber To,40000000,169837010,110,['Comedy'],"20 years since their first adventure, Lloyd an...",The average person uses 10% of their brain cap...,"['Bobby Farrelly', 'Peter Farrelly']","['Jim Carrey', 'Jeff Daniels', 'Laurie Holden'...","['New Line Cinema', 'Universal Pictures', 'Con...",3,['US'],['en'],tt2096672,5.542,2740,Released
1,2004-11-11,Марс,2000000,240000,100,"['Comedy', 'Drama']","Somewhere deep, deep in Russia there is a town...",NaN,['Anna Melikyan'],"['Nana Kiknadze', 'Artur Smolyaninov', 'Yevgen...","['Central Partnership', 'Studio SLON']",1,['RU'],['ru'],tt0417949,5.700,3,Released
2,2014-01-22,"I, Frankenstein",65000000,76801179,92,"['Horror', 'Thriller']","200 years after his shocking creation, Dr. Fra...","In the battle between good and evil, an immort...",[],"['Aaron Eckhart', 'Yvonne Strahovski', 'Bill N...","['Lakeshore Entertainment', 'Sidney Kimmel Ent...",1,"['AU', 'US']",['en'],tt1418377,5.272,1628,Released
3,2014-03-20,Captain America: The Winter Soldier,170000000,714766572,136,"['Action', 'Adventure', 'Science Fiction']",After the cataclysmic events in New York with ...,In heroes we trust.,"['Anthony Russo', 'Joe Russo']","['Chris Evans', 'Scarlett Johansson', 'Sebasti...",['Marvel Studios'],2,['US'],['en'],tt1843866,7.678,16638,Released
4,2013-09-11,Vikingdom,15600000,747872,114,['Adventure'],A warrior fleeing the violence of his past mus...,Live by the Sword.,[],"['Dominic Purcell', 'Natassia Malthe', 'Craig ...",['KRU Studios'],1,['MY'],"['en', 'zh']",tt1785669,4.380,54,Released

In [126]:
df.shape

(11243, 18)

### Fonction qui drop les colonnes qui ne nous servirons pas dans un premier temps

In [127]:
def drop_usless_columns(df):
    labels = ['synopsis', 'tagline', 'status', 'imdb_id', 'langues', 'production_countries', 'vote_average', 'vote_count']
    df_update = df.drop(labels, axis = 1)
    return df_update

In [128]:
df_update = drop_usless_columns(df)
df_update.head()

,date,titre,budget,recette,duree,genres,realisateur,casting,compagnies_production,suite
0,2014-11-12,Dumb and Dumber To,40000000,169837010,110,['Comedy'],"['Bobby Farrelly', 'Peter Farrelly']","['Jim Carrey', 'Jeff Daniels', 'Laurie Holden'...","['New Line Cinema', 'Universal Pictures', 'Con...",3
1,2004-11-11,Марс,2000000,240000,100,"['Comedy', 'Drama']",['Anna Melikyan'],"['Nana Kiknadze', 'Artur Smolyaninov', 'Yevgen...","['Central Partnership', 'Studio SLON']",1
2,2014-01-22,"I, Frankenstein",65000000,76801179,92,"['Horror', 'Thriller']",[],"['Aaron Eckhart', 'Yvonne Strahovski', 'Bill N...","['Lakeshore Entertainment', 'Sidney Kimmel Ent...",1
3,2014-03-20,Captain America: The Winter Soldier,170000000,714766572,136,"['Action', 'Adventure', 'Science Fiction']","['Anthony Russo', 'Joe Russo']","['Chris Evans', 'Scarlett Johansson', 'Sebasti...",['Marvel Studios'],2
4,2013-09-11,Vikingdom,15600000,747872,114,['Adventure'],[],"['Dominic Purcell', 'Natassia Malthe', 'Craig ...",['KRU Studios'],1

### Fonction qui drop les lignes qui ont des colonnes vides

In [132]:
def drop_empty_lines(df):
    df['date'] = df['date'].fillna('pas de date')
    index_names = df[ (df['recette'] <=0) | (df['genres'] == '[]') | (df['realisateur'] == '[]') | (df['casting'] == '[]') | (df['date'] == 'pas de date')].index
    df_update_v2 = df.drop(index_names, axis = 0)
    df_update_v2.reset_index(drop = True, inplace = True)
    return df_update_v2

In [133]:
df_update_v2 = drop_empty_lines(df_update)
print(df_update_v2.shape[0])
df_update_v2.head()

7856

,date,titre,budget,recette,duree,genres,realisateur,casting,compagnies_production,suite
0,2014-11-12,Dumb and Dumber To,40000000,169837010,110,['Comedy'],"['Bobby Farrelly', 'Peter Farrelly']","['Jim Carrey', 'Jeff Daniels', 'Laurie Holden'...","['New Line Cinema', 'Universal Pictures', 'Con...",3
1,2004-11-11,Марс,2000000,240000,100,"['Comedy', 'Drama']",['Anna Melikyan'],"['Nana Kiknadze', 'Artur Smolyaninov', 'Yevgen...","['Central Partnership', 'Studio SLON']",1
2,2014-03-20,Captain America: The Winter Soldier,170000000,714766572,136,"['Action', 'Adventure', 'Science Fiction']","['Anthony Russo', 'Joe Russo']","['Chris Evans', 'Scarlett Johansson', 'Sebasti...",['Marvel Studios'],2
3,2012-03-15,Тот ещё Карлосон!,4000000,9938268,80,"['Comedy', 'Fantasy', 'Family']",['Sarik Andreasyan'],"['Mikhail Galustyan', 'Igor Vernik', 'Mariya S...",['Enjoy Movies'],1
4,1976-04-05,The Blue Bird,12000000,887000,95,"['Adventure', 'Family', 'Fantasy', 'Drama']",['George Cukor'],"['Elizabeth Taylor', 'Jane Fonda', 'Ava Gardne...","['20th Century Fox', 'Lenfilm', 'Sovinfilm', '...",1

### Fonction qui transforme les string de liste en liste de string pour faciliter la manipulation

In [135]:
list_keys = ['genres', 'realisateur', 'casting', 'compagnies_production']

def str_to_list(df, key):
    df_new = df

    for k in key: #on parcourt les clés à modifier spécifiées en argument de la fonction

        for ind in range(df_new.shape[0]): #on parcourt toutes les lignes du Dataframe

            string = df_new[k].iloc[ind] #on récupère la valeur à modifier pour chaque ligne

            if type(string) == str : # on vérifie si c'est bien une string
                
                #création de la nouvelle variable de type liste qui remplacera l'ancienne

                liste_finale = []

                #remplissage de la variable de type liste en faisant des opérations sur la string

                list_string = string[1:-1].split(',')
                for i,j in enumerate(list_string):
                    if i == 0:
                        mot = j[1:-1]
                        if mot not in liste_finale:
                            liste_finale.append(mot)
                    else:
                        mot = j[2:-1]
                        if mot not in liste_finale:
                            liste_finale.append(mot)
                
                #affectation de la nouvelle valeur de type liste à l'élément modifié du Dataframe

                df_new.at[ind,k] = liste_finale
    
    df_new['date'] = pd.to_datetime(df_new['date'])

    return df_new

In [136]:
df_update_v3 = str_to_list(df_update_v2, list_keys)

### Vérification de la cohérence des valeurs dans les colones aprés modification du dataframe

In [137]:
print(f"la quantité de données est : {df_update_v3.shape}")
print(f'nom des colones : {list(df_update_v3.columns)}')
for c in df_update_v3.columns:
    print(f"le format de {c} est : {df_update_v3[c].dtype}")

la quantité de données est : (7856, 10)
nom des colones : ['date', 'titre', 'budget', 'recette', 'duree', 'genres', 'realisateur', 'casting', 'compagnies_production', 'suite']
le format de date est : datetime64[ns]
le format de titre est : object
le format de budget est : int64
le format de recette est : int64
le format de duree est : int64
le format de genres est : object
le format de realisateur est : object
le format de casting est : object
le format de compagnies_production est : object
le format de suite est : int64

ligne avec la date la plus récente

In [138]:
df_update_v3[df_update_v3.date == df_update_v3.date.max()]

,date,titre,budget,recette,duree,genres,realisateur,casting,compagnies_production,suite
7717,2024-05-02,Narayan Pustika,23914,67565,213,"[Mystery, Fantasy, Science Fiction]",[Shivam Kothekar],"[Mehesh Tekam, Nivedan Haji, Devendra Rajpoot,...","[X Filme Creative Pool, Pooja Entertainment]",1

ligne avec la plus ancienne date

In [139]:
df_update_v3[df_update_v3.date == df_update_v3.date.min()]

,date,titre,budget,recette,duree,genres,realisateur,casting,compagnies_production,suite
7765,1913-11-24,Traffic in Souls,5700,1800000,88,"[Crime, Drama]",[George Loane Tucker],"[Jane Gail, Ethel Grandin, William H. Turner, ...",[Independent Moving Pictures],1

tableau des lignes avec le plus grand et le plus petit budget

In [140]:
df_update_v3[(df_update_v3.budget == df_update_v3.budget.max()) | (df_update_v3.budget == df_update_v3.budget.min())]

,date,titre,budget,recette,duree,genres,realisateur,casting,compagnies_production,suite
5,1986-06-13,Mona Lisa,0,5794184,105,"[Crime, Drama, Romance]",[Neil Jordan],"[Bob Hoskins, Cathy Tyson, Michael Caine, Robb...","[HandMade Films, Palace Productions]",1
9,2006-04-10,Abominable,0,1810000,94,"[Horror, Thriller]",[Ryan Schifrin],"[Matt McCoy, Haley Joel, Karin Anna Cheung, Je...",[Red Circle Productions],1
23,2005-11-23,Just Friends,0,50817508,96,"[Comedy, Romance]",[Roger Kumble],"[Ryan Reynolds, Amy Smart, Anna Faris, Chris K...","[Cinezeta, BenderSpink]",1
24,2005-04-14,Miss Congeniality 2: Armed and Fabulous,0,101393569,115,"[Action, Comedy]",[John Pasquin],"[Sandra Bullock, Regina King, Enrique Murciano...","[Village Roadshow Pictures, Castle Rock Entert...",2
34,2006-05-17,The Breed,0,1675484,90,"[Thriller, Horror]",[Nicholas Mastandrea],"[Michelle Rodriguez, Taryn Manning, Eric Livel...","[ApolloProMovie, First Look Pictures]",1
...,...,...,...,...,...,...,...,...,...,...
7580,2006-06-25,Франц + Полина,0,1500,119,"[Drama, War, Romance]",[Mikhail Segal],"[Adrian Topol, Svetlana Ivanova, Andrey Merzli...","[YUGRA Film Company, Solivs]",1
7585,1992-02-21,Stop! Or My Mom Will Shoot,0,70611210,87,"[Action, Comedy]",[Roger Spottiswoode],"[Sylvester Stallone, Estelle Getty, JoBeth Wil...",[Universal Pictures],1
7599,2006-01-13,Glory Road,0,42647449,118,"[Drama, History]",[James Gartner],"[Josh Lucas, Derek Luke, Jon Voight, Austin Ni...",[Walt Disney Pictures],1
7609,2004-09-02,A Love Song for Bobby Long,0,1841260,119,[Drama],[Shainee Gabel],"[John Travolta, Scarlett Johansson, Gabriel Ma...",[Yari Film Group],1
7626,2005-07-19,Little Fish,0,3248506,114,"[Drama, Crime]",[Rowan Woods],"[Cate Blanchett, Sam Neill, Hugo Weaving, Mart...","[Dirty Films, Porchlight Films]",1

tableau avec la plus grande et la plus petite recette

In [141]:
df_update_v3[(df_update_v3.recette == df_update_v3.recette.max()) | (df_update_v3.recette == df_update_v3.recette.min())]

,date,titre,budget,recette,duree,genres,realisateur,casting,compagnies_production,suite
1991,2009-12-15,Avatar,237000000,2920357254,162,"[Action, Adventure, Fantasy, Science Fiction]",[James Cameron],"[Sam Worthington, Zoe Saldaña, Sigourney Weave...","[20th Century Fox, Ingenious Media, Dune Enter...",4
3244,2014-05-12,Erro de Continuidade,1,1,1,"[Thriller, Fantasy, Comedy]",[Felipe Barros],[Lucas Santana],[],1
3370,2014-11-21,Naaigal Jaakirathai,630000,1,126,"[Thriller, Action, Comedy]",[Shakti Soundar Rajan],"[Sibiraj, Arundhathi Nair, Manobala, Balaji Pa...",[Nathambal Film Factory],1
3863,2000-08-11,MVP: Most Valuable Primate,4,1,85,"[Comedy, Family]",[Robert Vince],"[Kevin Zegers, Jamie Renée Smith, Alexa Benett...","[Keystone Family Pictures, Funky Monkey Produc...",1
4255,2015-09-25,"Head Full of Dreams, Heart Full of Promises",100,1,10,[Documentary],[Renny Ray],"[Inna Levian, Alise Sheli Orsa, Davek, Denis K...",[Art Attack Manifesto],1
...,...,...,...,...,...,...,...,...,...,...
7806,2018-11-01,Optimism with Django,1,1,1,"[Family, Comedy]",[Alex Humber],[Alex Humber],[],1
7829,2022-06-18,Country Boys Make Two,6,1,21,[Comedy],[Josh Martin],"[Jack Fowler, Josh Pike, Dave Stroud]",[],1
7848,2015-01-22,Jeff Movie 3: Part 1,10,1,2,"[Thriller, Action]",[Jack McGurn],"[Jeff T. Ball, Matthew Stewart, Ewan Macfarlan...",[One Sock Wonders],1
7850,2022-05-09,Pablo usá binance,1,1,0,[Thriller],[Franco Damonte],"[Lautaro Pineda, Nicolas Camusso, Franco Damon...",[],1
7852,2022-07-11,Memórias que Voam,300,1,0,"[Romance, Drama]",[Nathaly Castilho],"[Miriane Carine, Orly Speck, Aleksia Dias]",[],1

In [142]:
df_update_v3[(df_update_v3.duree == df_update_v3.duree.max()) | (df_update_v3.duree == df_update_v3.duree.min())]

,date,titre,budget,recette,duree,genres,realisateur,casting,compagnies_production,suite
1252,2012-03-30,Buona Giornata,3500000,2900000,0,[Comedy],[Carlo Vanzina],"[Diego Abatantuono, Lino Banfi, Vincenzo Salem...",[Medusa Distribuzione],1
1303,2007-11-19,Strength and Honour,0,418721,0,[Drama],[Mark Mahon],"[Michael Madsen, Vinnie Jones, Patrick Bergin,...",[],1
3209,1992-04-17,Film belge,6,6,0,[Comedy],[Les Snuls],"[Frédéric Jannin, Nicolas Fransolet, Stefan Li...",[],1
3225,2012-12-22,A Catedral: Uma história de amor a Grajaú,1000,2000,0,[Documentary],[Tahan Alvarenga],[Pedro Jorge],[Produção Independente],1
3239,2013-10-10,Kandidát,250000,540000,0,[Comedy],[Jonáš Karásek],"[Marek Majeský, Monika Hilmerová, Michal Dlouh...","[Azyl Production, B Digital]",1
...,...,...,...,...,...,...,...,...,...,...
7832,2022-10-14,Arte Anónimo,100,100,0,[Documentary],[Óscar Jaramillo],[Ricardo Galeazzi],[ZigZag Films],1
7837,1997-12-20,Panic At Midnight,10,10,0,"[Horror, Mystery]",[Jake W. Moore],"[Emily Lesnown, Luke Kaleghan, Amber Wishox, M...","[Indie Rights Movies, WinterStar Films]",1
7850,2022-05-09,Pablo usá binance,1,1,0,[Thriller],[Franco Damonte],"[Lautaro Pineda, Nicolas Camusso, Franco Damon...",[],1
7852,2022-07-11,Memórias que Voam,300,1,0,"[Romance, Drama]",[Nathaly Castilho],"[Miriane Carine, Orly Speck, Aleksia Dias]",[],1
7855,1955-07-19,Amleto,500,550,0,[Drama],[Claudio Fino],[Vittorio Gassman],[],1

In [143]:
def drop_useless_lines(df):
    index_names = df[(df['budget'] < 300000) | (df['recette'] < 200000) | (df['duree'] < 60) | (df_update_v3['casting'].map(len) < 1) | (df_update_v3['date'] < pd.to_datetime('1990-01-01')) | (df_update_v3['date'] > pd.to_datetime('2022-10-14'))].index
    df_update_v4 = df.drop(index_names, axis = 0)
    df_update_v4.reset_index(drop = True, inplace = True)
    return df_update_v4

In [144]:
df_update_v4 = drop_useless_lines(df_update_v3)
print(df_update_v4.shape)
df_update_v4.head()

(4695, 10)

,date,titre,budget,recette,duree,genres,realisateur,casting,compagnies_production,suite
0,2014-11-12,Dumb and Dumber To,40000000,169837010,110,[Comedy],"[Bobby Farrelly, Peter Farrelly]","[Jim Carrey, Jeff Daniels, Laurie Holden, Rach...","[New Line Cinema, Universal Pictures, Conundru...",3
1,2004-11-11,Марс,2000000,240000,100,"[Comedy, Drama]",[Anna Melikyan],"[Nana Kiknadze, Artur Smolyaninov, Yevgeniya D...","[Central Partnership, Studio SLON]",1
2,2014-03-20,Captain America: The Winter Soldier,170000000,714766572,136,"[Action, Adventure, Science Fiction]","[Anthony Russo, Joe Russo]","[Chris Evans, Scarlett Johansson, Sebastian St...",[Marvel Studios],2
3,2012-03-15,Тот ещё Карлосон!,4000000,9938268,80,"[Comedy, Fantasy, Family]",[Sarik Andreasyan],"[Mikhail Galustyan, Igor Vernik, Mariya Semkin...",[Enjoy Movies],1
4,1997-04-03,The Saint,68000000,118063304,116,"[Thriller, Action, Romance, Science Fiction, A...",[Phillip Noyce],"[Val Kilmer, Elisabeth Shue, Rade Šerbedžija, ...","[Paramount, Mace Neufeld Productions, Rysher E...",1

In [145]:
df_update_v4.to_csv("data\df_update_v4.csv")

### Fonction qui ajoute une colonne par genre

In [149]:
def encoding_genre(row):
    row['Comedy'] = 0
    row['Drama'] = 0
    row['Horror'] = 0
    row['Thriller'] = 0
    row['Action'] = 0
    row['Adventure'] = 0
    row['Science Fiction'] = 0
    row['Fantasy'] = 0
    row['Family'] = 0
    row['Crime'] = 0
    row['Romance'] = 0
    row['Animation'] = 0
    row['Mystery'] = 0
    row['War'] = 0
    row['Music'] = 0
    row['Western'] = 0
    row['History'] = 0
    row['Documentary'] = 0
    row['TV Movie'] = 0 
    for genre in row['genres']:
        row[genre] = 1
    return row

In [150]:
df_update_v5 = df_update_v4.apply(encoding_genre, axis = 1)
df_update_v5.drop(['genres'], axis = 1, inplace = True)
df_update_v5.head()

,date,titre,budget,recette,duree,realisateur,casting,compagnies_production,suite,Comedy,...,Crime,Romance,Animation,Mystery,War,Music,Western,History,Documentary,TV Movie
0,2014-11-12,Dumb and Dumber To,40000000,169837010,110,"[Bobby Farrelly, Peter Farrelly]","[Jim Carrey, Jeff Daniels, Laurie Holden, Rach...","[New Line Cinema, Universal Pictures, Conundru...",3,1,...,0,0,0,0,0,0,0,0,0,0
1,2004-11-11,Марс,2000000,240000,100,[Anna Melikyan],"[Nana Kiknadze, Artur Smolyaninov, Yevgeniya D...","[Central Partnership, Studio SLON]",1,1,...,0,0,0,0,0,0,0,0,0,0
2,2014-03-20,Captain America: The Winter Soldier,170000000,714766572,136,"[Anthony Russo, Joe Russo]","[Chris Evans, Scarlett Johansson, Sebastian St...",[Marvel Studios],2,0,...,0,0,0,0,0,0,0,0,0,0
3,2012-03-15,Тот ещё Карлосон!,4000000,9938268,80,[Sarik Andreasyan],"[Mikhail Galustyan, Igor Vernik, Mariya Semkin...",[Enjoy Movies],1,1,...,0,0,0,0,0,0,0,0,0,0
4,1997-04-03,The Saint,68000000,118063304,116,[Phillip Noyce],"[Val Kilmer, Elisabeth Shue, Rade Šerbedžija, ...","[Paramount, Mace Neufeld Productions, Rysher E...",1,0,...,0,1,0,0,0,0,0,0,0,0

In [151]:
df_update_v5.shape

(4695, 28)

In [152]:
df_update_v5[df_update_v5.date == df_update_v5.date.max()]

,date,titre,budget,recette,duree,realisateur,casting,compagnies_production,suite,Comedy,...,Crime,Romance,Animation,Mystery,War,Music,Western,History,Documentary,TV Movie
3784,2022-10-12,Halloween Ends,20000000,98020935,111,[David Gordon Green],"[Jamie Lee Curtis, Andi Matichak, Rohan Campbe...","[Miramax, Universal Pictures, Blumhouse Produc...",11,0,...,0,0,0,0,0,0,0,0,0,0

In [153]:
df_update_v5[df_update_v5.date == df_update_v5.date.min()]

,date,titre,budget,recette,duree,realisateur,casting,compagnies_production,suite,Comedy,...,Crime,Romance,Animation,Mystery,War,Music,Western,History,Documentary,TV Movie
455,1990-01-12,Internal Affairs,15000000,27734391,115,[Mike Figgis],"[Richard Gere, Andy García, Laurie Metcalf, Na...","[Paramount, Malofilm, Image Organization, Out ...",1,0,...,1,0,0,0,0,0,0,0,0,0
1765,1990-01-12,Leatherface: The Texas Chainsaw Massacre III,2000000,55765562,85,[Jeff Burr],"[Kate Hodge, Ken Foree, R.A. Mihailoff, Willia...",[Nicolas Entertainment],2,0,...,0,0,0,0,0,0,0,0,0,0

In [154]:
df_update_v5[df_update_v5.budget == df_update_v5.budget.min()]

,date,titre,budget,recette,duree,realisateur,casting,compagnies_production,suite,Comedy,...,Crime,Romance,Animation,Mystery,War,Music,Western,History,Documentary,TV Movie
738,2012-07-03,Oh Boy,300000,2750275,88,[Jan Ole Gerster],"[Tom Schilling, Marc Hosemann, Friederike Kemp...","[ARTE, Schiwago Film, HR, Chromosom Filmproduk...",1,1,...,0,0,0,0,0,0,0,0,0,0
898,2005-07-22,Murderball,300000,1750211,88,"[Henry Alex Rubin, Dana Adam Shapiro]","[Joe Bishop, Keith Cavill, Andy Cohn, Scott Ho...",[],1,0,...,0,0,0,0,0,0,0,0,1,0
1582,2003-11-14,Tupac: Resurrection,300000,7808524,112,[Lauren Lazin],"[Tupac Shakur, Al Sharpton]","[Paramount, MTV Films]",1,0,...,0,0,0,0,0,1,0,0,1,0
2420,2014-11-28,എയ്ഞ്ചല്‍സ്,300000,400000,109,[Jean Markose],"[Indrajith Sukumaran, Asha Sarath, Joy Mathew,...",[Cloud4Cinema],1,0,...,0,0,0,1,0,0,0,0,0,0
2521,2012-03-30,Rouva Presidentti,300000,290000,86,[Aleksi Bardy],"[Tarja Halonen, Pentti Arajärvi, Eila Nevalain...","[Helsinki Filmi, Funny-Films]",1,0,...,0,0,0,0,0,0,0,0,1,0
2540,2016-01-28,இறுதிச்சுற்று,300000,2100000,109,[Sudha Kongara Prasad],"[R. Madhavan, Ritika Singh, Mumtaz Sorcar, Nas...","[UTV Motion Pictures, Y NOT Studios, Thirukuma...",1,0,...,0,0,0,0,0,0,0,0,0,0
2692,2016-02-04,ആക്ഷൻ ഹീറോ ബിജു,300000,2500000,144,[Abrid Shine],"[Nivin Pauly, Joju George, Saiju Kurup, Major ...","[Full On Studios, Pauly Jr. Pictures]",1,1,...,1,0,0,0,0,0,0,0,0,0
2698,2009-10-02,Araromire,300000,200000,122,[Kunle Afolayan],"[Ramsey Nouah, Omoni Oboli, Funlola Aofiyebi, ...",[Golden Effects Pictures],1,0,...,0,0,0,1,0,0,0,0,0,0
2847,2014-12-19,বাদশাহী আংটি,300000,590000,109,[Sandip Ray],"[Abir Chatterjee, Sourav Das, Rajatava Dutta, ...",[SVF Entertainment],10,0,...,0,0,0,1,0,0,0,0,0,0
2852,2016-05-27,ഒരു മുറൈ വന്ത് പാര്‍ത്തായ,300000,300000,151,[Sajan K. Mathew],"[Unni Mukundan, Prayaga Martin, Sanusha Santho...",[Kokers Films],1,1,...,0,1,0,0,0,0,0,0,0,0
3252,2017-10-06,Après coup,300000,800000,94,[Noël Mitrani],"[Laurent Lucas, Laurence Dauphinais, Mohsen El...",[Gapian Films],1,0,...,0,0,0,0,0,0,0,0,0,0
3615,2019-04-29,Kingdom Men Rising,300000,1188936,93,[Kyle Lollis],"[Tony Evans, Tim Brown, Tony Dungy, Arthur Eva...","[LifeWay Films, Tony Evans Films]",1,0,...,0,0,0,0,0,0,0,0,1,0
3925,2020-02-21,Cheema Prema madhyalo Bhaama!,300000,300000,115,[Srikanth Appalaraju],"[Amith, Indu]","[Magnum Opus Films India, Amoeba Creations Inc.]",1,0,...,0,1,0,0,0,0,0,0,0,0
3945,2010-10-05,வ,300000,1500000,159,"[Pushkar, Gayathri]","[Shiva, Lekha Washington, John Vijay, Abhinaya...","[Cloud Nine Movies, Y NOT Studios]",1,1,...,0,0,0,0,0,0,0,0,0,0

In [155]:
df_update_v5[df_update_v5.budget == df_update_v5.budget.max()]

,date,titre,budget,recette,duree,realisateur,casting,compagnies_production,suite,Comedy,...,Crime,Romance,Animation,Mystery,War,Music,Western,History,Documentary,TV Movie
361,2011-05-14,Pirates of the Caribbean: On Stranger Tides,380000000,1045713802,137,[Rob Marshall],"[Johnny Depp, Penélope Cruz, Geoffrey Rush, Ia...","[Walt Disney Pictures, Jerry Bruckheimer Films...",4,0,...,0,0,0,0,0,0,0,0,0,0

In [156]:
df_update_v5[df_update_v5.recette == df_update_v5.recette.max()]

,date,titre,budget,recette,duree,realisateur,casting,compagnies_production,suite,Comedy,...,Crime,Romance,Animation,Mystery,War,Music,Western,History,Documentary,TV Movie
1149,2009-12-15,Avatar,237000000,2920357254,162,[James Cameron],"[Sam Worthington, Zoe Saldaña, Sigourney Weave...","[20th Century Fox, Ingenious Media, Dune Enter...",4,0,...,0,0,0,0,0,0,0,0,0,0

In [157]:
df_update_v5[df_update_v5.recette == df_update_v5.recette.min()]

,date,titre,budget,recette,duree,realisateur,casting,compagnies_production,suite,Comedy,...,Crime,Romance,Animation,Mystery,War,Music,Western,History,Documentary,TV Movie
2698,2009-10-02,Araromire,300000,200000,122,[Kunle Afolayan],"[Ramsey Nouah, Omoni Oboli, Funlola Aofiyebi, ...",[Golden Effects Pictures],1,0,...,0,0,0,1,0,0,0,0,0,0

In [158]:
df_update_v5[df_update_v5.duree == df_update_v5.duree.min()]

,date,titre,budget,recette,duree,realisateur,casting,compagnies_production,suite,Comedy,...,Crime,Romance,Animation,Mystery,War,Music,Western,History,Documentary,TV Movie
3390,2011-04-06,Winnie the Pooh,30000000,14460000,63,"[Stephen J. Anderson, Don Hall]","[John Cleese, Jim Cummings, Bud Luckey, Craig ...","[Walt Disney Pictures, Walt Disney Animation S...",1,0,...,0,0,1,0,0,0,0,0,0,0

In [159]:
df_update_v5[df_update_v5.duree == df_update_v5.duree.max()]

,date,titre,budget,recette,duree,realisateur,casting,compagnies_production,suite,Comedy,...,Crime,Romance,Animation,Mystery,War,Music,Western,History,Documentary,TV Movie
2976,2010-07-07,Carlos,18000000,871279,339,[Olivier Assayas],"[Edgar Ramírez, Alexander Scheer, Nora Waldstä...","[ARTE France Cinéma, Canal+, CNC, PROCIREP, St...",1,0,...,1,0,0,0,0,0,0,1,0,0

In [160]:
df_update_v5[df_update_v5.suite == df_update_v5.suite.max()]

,date,titre,budget,recette,duree,realisateur,casting,compagnies_production,suite,Comedy,...,Crime,Romance,Animation,Mystery,War,Music,Western,History,Documentary,TV Movie
2499,2015-03-07,映画ドラえもん のび太の宇宙英雄記,46597700,32700000,100,[Yoshihiro Osugi],"[Wasabi Mizuta, Megumi Oohara, Yumi Kazaku, Su...",[Shin-Ei Animation],34,1,...,0,0,1,0,0,0,0,0,0,0

In [161]:
df_update_v5.to_csv('data\dataset_final_v1.csv')