In [1]:
import pandas as pd
from difflib import SequenceMatcher

In [2]:
list_keys = ['genres', 'production_countries', 'realisateur', 'casting', 'compagnies_production', 'langues']

def str_to_list(df, key):
    df_new = df

    for k in key: #on parcourt les clés à modifier spécifiées en argument de la fonction

        for ind in range(df_new.shape[0]): #on parcourt toutes les lignes du Dataframe

            string = df_new[k].iloc[ind] #on récupère la valeur à modifier pour chaque ligne

            if type(string) == str : # on vérifie si c'est bien une string
                
                #création de la nouvelle variable de type liste qui remplacera l'ancienne

                liste_finale = []

                #remplissage de la variable de type liste en faisant des opérations sur la string

                list_string = string[1:-1].split(',')
                for i,j in enumerate(list_string):
                    if i == 0:
                        mot = j[1:-1]
                        if mot not in liste_finale:
                            liste_finale.append(mot)
                    else:
                        mot = j[2:-1]
                        if mot not in liste_finale:
                            liste_finale.append(mot)
                
                #affectation de la nouvelle valeur de type liste à l'élément modifié du Dataframe

                df_new.at[ind,k] = liste_finale

    return df_new

In [3]:
#Importation des datasets
df  = pd.read_csv(r"data\df_update_v4.csv").drop(columns="Unnamed: 0") 
df = str_to_list(df, list_keys)
actor = pd.read_csv("data//actor_scrap.csv").drop(columns="Unnamed: 0")
director = pd.read_csv(r"data\director_scrap.csv").drop(columns="Unnamed: 0")
compagnies = pd.read_csv(r'data\compagny_scrap.csv').drop(columns="Unnamed: 0")

df.head()

          Compagny_Name  Worldwide_box_office
0          Warner Bros.           48055413164
1    Universal Pictures           47901646442
2     Columbia Pictures           45406879151
3  Walt Disney Pictures           39988482983
4    Paramount Pictures           35708606956

In [4]:
#Contruction des notes des acteurs/réalisateur
#Acteur
actor["rating"] = 100*actor["Worldwide_box_office"]/actor['Worldwide_box_office'].max()
actor["rating"] = actor["rating"].astype(int)

#Réalisateur
director["rating"] = 100*director["Worldwide_box_office"]/director['Worldwide_box_office'].max()
director["rating"] = director["rating"].astype(int)

#Compagnies
compagnies["rating"] = 100*compagnies["Worldwide_box_office"]/compagnies['Worldwide_box_office'].max()
compagnies["rating"] = compagnies["rating"].astype(int)

In [5]:
actor = actor[actor["rating"] > 0]
director = director[director["rating"] > 0]
compagnies = compagnies[compagnies["rating"] > 0]

In [6]:
"""actor.to_csv("data/actor_ratings.csv")
director.to_csv("data/director_ratings.csv")
compagnies.to_csv("data/compagnies_ratings.csv")"""

'actor.to_csv("data/actor_ratings.csv")\ndirector.to_csv("data/director_ratings.csv")\ncompagnies.to_csv("data/compagnies_ratings.csv")'

In [7]:
#Création des dictionnaires
actor_dict = {}
for i, row in actor.iterrows():
    actor_dict[row.Actor_Name] = row.rating

director_dict = {}
for i, row in director.iterrows():
   director_dict[row.Director_Name] = row.rating

compagnies_dict = {}
for i, row in compagnies.iterrows():
   compagnies_dict[row.Compagny_Name] = row.rating

In [14]:
def comparaison_string(str1, str2): #Renvoie la ressemblance en deux strings
    S = SequenceMatcher(None,  str1, str2)
    if S.ratio() > 0.8 :
        return True
    else :
        return False

def comparaison_dict(string, dict): #Renvoie le rating associé à un acteur
    for name, rating in dict.items():
        if comparaison_string(string, name):
            return rating
    return 0

In [20]:
#On remplace maintenant les données par leur score
for i, row in df.iterrows():
    sum_actor = 0
    sum_director = 0
    sum_compagnies = 0
    for actor in row.casting:
        sum_actor += comparaison_dict(actor, actor_dict)
    for director in row.realisateur:
        sum_director += comparaison_dict(director, director_dict)
    for compagny in row.compagnies_production:
        sum_compagnies += comparaison_dict(compagny, compagnies_dict)
    
    df.loc[i, 'casting_score'] = int(sum_actor)
    df.loc[i, 'realisateur_score'] = int(sum_director)
    df.loc[i, 'compagny_score'] = int(sum_compagnies)

df.to_csv("arrange.csv")