In [1]:
import pandas as pd
from difflib import SequenceMatcher

In [2]:
#Importation des datasets
df  = pd.read_csv(r"data\dataset_final_v1.csv").drop(columns="Unnamed: 0") 
actor = pd.read_csv("data//actor_scrap.csv").drop(columns="Unnamed: 0")
director = pd.read_csv(r"data\director_scrap.csv").drop(columns="Unnamed: 0")
compagnies = pd.read_csv(r'data\compagny_scrap.csv').drop(columns="Unnamed: 0")

df.head()

,Action,Adventure,Animation,Comedy,Crime,Documentary,Drama,Family,Fantasy,History,...,Western,budget,casting,compagnies_production,date,duree,realisateur,recette,suite,titre
0,0,0,0,1,0,0,0,0,0,0,...,0,40000000,"['Jim Carrey', 'Jeff Daniels', 'Laurie Holden'...","['New Line Cinema', 'Universal Pictures', 'Con...",2014-11-12,110,"['Bobby Farrelly', 'Peter Farrelly']",169837010,3,Dumb and Dumber To
1,0,0,0,1,0,0,1,0,0,0,...,0,2000000,"['Nana Kiknadze', 'Artur Smolyaninov', 'Yevgen...","['Central Partnership', 'Studio SLON']",2004-11-11,100,['Anna Melikyan'],240000,1,Марс
2,1,1,0,0,0,0,0,0,0,0,...,0,170000000,"['Chris Evans', 'Scarlett Johansson', 'Sebasti...",['Marvel Studios'],2014-03-20,136,"['Anthony Russo', 'Joe Russo']",714766572,2,Captain America: The Winter Soldier
3,0,0,0,1,0,0,0,1,1,0,...,0,4000000,"['Mikhail Galustyan', 'Igor Vernik', 'Mariya S...",['Enjoy Movies'],2012-03-15,80,['Sarik Andreasyan'],9938268,1,Тот ещё Карлосон!
4,1,1,0,0,0,0,0,0,0,0,...,0,68000000,"['Val Kilmer', 'Elisabeth Shue', 'Rade Šerbedž...","['Paramount', 'Mace Neufeld Productions', 'Rys...",1997-04-03,116,['Phillip Noyce'],118063304,1,The Saint

In [3]:
list_keys = ['realisateur', 'casting', 'compagnies_production']

def str_to_list(df, key):
    df_new = df

    for k in key: #on parcourt les clés à modifier spécifiées en argument de la fonction

        for ind in range(df_new.shape[0]): #on parcourt toutes les lignes du Dataframe

            string = df_new[k].iloc[ind] #on récupère la valeur à modifier pour chaque ligne

            if type(string) == str : # on vérifie si c'est bien une string
                
                #création de la nouvelle variable de type liste qui remplacera l'ancienne

                liste_finale = []

                #remplissage de la variable de type liste en faisant des opérations sur la string

                list_string = string[1:-1].split(',')
                for i,j in enumerate(list_string):
                    if i == 0:
                        mot = j[1:-1]
                        if mot not in liste_finale:
                            liste_finale.append(mot)
                    else:
                        mot = j[2:-1]
                        if mot not in liste_finale:
                            liste_finale.append(mot)
                
                #affectation de la nouvelle valeur de type liste à l'élément modifié du Dataframe

                df_new.at[ind,k] = liste_finale

    return df_new

df = str_to_list(df, list_keys)

In [20]:
compagnies.head()

          Compagny_Name  Worldwide_box_office
0          Warner Bros.           48055413164
1    Universal Pictures           47901646442
2     Columbia Pictures           45406879151
3  Walt Disney Pictures           39988482983
4    Paramount Pictures           35708606956

In [21]:
#Contruction des notes des acteurs/réalisateur
#Acteur
actor["rating"] = 100*actor["Worldwide_box_office"]/actor['Worldwide_box_office'].max()
actor["rating"] = actor["rating"].astype(int)

#Réalisateur
director["rating"] = 100*director["Worldwide_box_office"]/director['Worldwide_box_office'].max()
director["rating"] = director["rating"].astype(int)

#Compagnies
compagnies["rating"] = 100*compagnies["Worldwide_box_office"]/compagnies['Worldwide_box_office'].max()
compagnies["rating"] = compagnies["rating"].astype(int)

In [22]:
actor = actor[actor["rating"] > 0]
director = director[director["rating"] > 0]
compagnies = compagnies[compagnies["rating"] > 0]
compagnies.head()

          Compagny_Name  Worldwide_box_office  rating
0          Warner Bros.           48055413164     100
1    Universal Pictures           47901646442      99
2     Columbia Pictures           45406879151      94
3  Walt Disney Pictures           39988482983      83
4    Paramount Pictures           35708606956      74

In [31]:
"""actor.to_csv("data/actor_ratings.csv")
director.to_csv("data/director_ratings.csv")
compagnies.to_csv("data/compagnies_ratings.csv")"""

'actor.to_csv("data/actor_ratings.csv")\ndirector.to_csv("data/director_ratings.csv")\ncompagnies.to_csv("data/compagnies_ratings.csv")'

In [32]:
#Création des dictionnaires
actor_dict = {}
for i, row in actor.iterrows():
    actor_dict[row.Actor_Name] = row.rating

director_dict = {}
for i, row in director.iterrows():
   director_dict[row.Director_Name] = row.rating

compagnies_dict = {}
for i, row in compagnies.iterrows():
   compagnies_dict[row.Compagny_Name] = row.rating

In [33]:
def comparaison_string(str1, str2): #Renvoie la ressemblance en deux strings
    S = SequenceMatcher(None,  str1, str2)
    if S.ratio() > 0.8 :
        return True
    else :
        return False

def comparaison_dict(string, dict): #Renvoie le rating associé à un acteur
    for name, rating in dict.items():
        if comparaison_string(string, name):
            return rating
    return 0

In [34]:
#On remplace maintenant les données par leur score
for i, row in df.iterrows():
    sum_actor = 0
    sum_director = 0
    sum_compagnies = 0
    for actor in row.casting:
        sum_actor += comparaison_dict(actor, actor_dict)
    for director in row.realisateur:
        sum_director += comparaison_dict(director, director_dict)
    for compagny in row.compagnies_production:
        sum_compagnies += comparaison_dict(compagny, compagnies_dict)
    
    df.loc[i, 'casting_score'] = int(sum_actor)
    df.loc[i, 'realisateur_score'] = int(sum_director)
    df.loc[i, 'compagny_score'] = int(sum_compagnies)
df.to_csv("arrange.csv")

In [3]:
df2  = pd.read_csv(r"data\arrange.csv").drop(columns="Unnamed: 0") 
df2.head()

,Action,Adventure,Animation,Comedy,Crime,Documentary,Drama,Family,Fantasy,History,...,compagnies_production,date,duree,realisateur,recette,suite,titre,casting_score,realisateur_score,compagny_score
0,0,0,0,1,0,0,0,0,0,0,...,"['New Line Cinema', 'Universal Pictures', 'Con...",2014-11-12,110,"['Bobby Farrelly', 'Peter Farrelly']",169837010,3,Dumb and Dumber To,79.0,27.0,135.0
1,1,1,0,0,0,0,0,0,0,0,...,['Marvel Studios'],2014-03-20,136,"['Anthony Russo', 'Joe Russo']",714766572,2,Captain America: The Winter Soldier,459.0,128.0,81.0
2,0,0,0,1,0,0,0,1,1,0,...,['Enjoy Movies'],2012-03-15,80,['Sarik Andreasyan'],9938268,1,Тот ещё Карлосон!,0.0,0.0,0.0
3,0,0,0,0,0,0,0,0,0,0,...,"['Lions Gate Films', 'WWE Studios']",2006-05-19,84,['Gregory Dark'],18707966,1,See No Evil,5.0,0.0,0.0
4,0,1,1,0,0,0,0,1,0,0,...,['Walt Disney Feature Animation'],2003-10-23,85,"['Aaron Blaise', 'Robert Walker']",250397798,1,Brother Bear,24.0,0.0,0.0

In [8]:
df2[df2["casting_score"] == df2.casting_score.min()]

,Action,Adventure,Animation,Comedy,Crime,Documentary,Drama,Family,Fantasy,History,...,compagnies_production,date,duree,realisateur,recette,suite,titre,casting_score,realisateur_score,compagny_score
2,0,0,0,1,0,0,0,1,1,0,...,['Enjoy Movies'],2012-03-15,80,['Sarik Andreasyan'],9938268,1,Тот ещё Карлосон!,0.0,0.0,0.0
11,1,0,0,0,0,0,0,0,0,0,...,"['Canal+', 'TF1 Films Production', 'EuropaCorp']",2004-11-09,84,['Pierre Morel'],9584131,1,Banlieue 13,0.0,3.0,8.0
20,0,0,0,0,0,0,1,0,1,0,...,"['Metro-Goldwyn-Mayer', 'Lakeshore Entertainme...",2007-01-26,98,['Katja von Garnier'],6340723,1,Blood and Chocolate,0.0,0.0,32.0
24,0,0,0,0,0,0,0,0,0,0,...,"['Miramax', 'Pandora Cinema']",2002-10-01,95,['Vincenzo Natali'],898365,1,Cypher,0.0,0.0,0.0
31,0,0,0,0,0,0,1,0,0,0,...,"['Cohen Media Group', 'Harwood Hunt Productions']",2008-03-26,97,['Courtney Hunt'],5457664,1,Frozen River,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3658,0,0,0,0,0,0,0,0,0,0,...,"['A24', 'Little Lamb Productions']",2022-09-16,102,['Ti West'],9423445,2,Pearl,0.0,0.0,1.0
3664,1,0,0,0,0,0,1,0,0,0,...,['Arka Mediaworks'],2010-06-04,141,['Radha Krishna Jagarlamudi'],9000000,1,వేదం,0.0,0.0,0.0
3671,1,0,0,0,0,0,0,0,0,1,...,"['Skop Productions Sdn. Bhd.', 'Studio Kembara']",2022-06-23,118,['Syamsul Yusof'],5283447,1,Mat Kilau,0.0,0.0,0.0
3672,0,0,0,1,0,0,0,0,0,0,...,"['Ken Media', 'OST Films']",2010-07-02,150,['Ramnath Palanikumar'],2000000,1,Ambasamuthiram Ambani,0.0,0.0,1.0
3673,0,0,0,1,0,0,0,0,0,0,...,"['RAI', 'MiC', 'Italian Dreams Factory']",2007-04-13,88,['Francesco Falaschi'],400000,1,Last Minute Marocco,0.0,0.0,0.0

In [6]:
df2[df2["realisateur_score"] == df2.realisateur_score.max()]

,Action,Adventure,Animation,Comedy,Crime,Documentary,Drama,Family,Fantasy,History,...,compagnies_production,date,duree,realisateur,recette,suite,titre,casting_score,realisateur_score,compagny_score
1,1,1,0,0,0,0,0,0,0,0,...,['Marvel Studios'],2014-03-20,136,"['Anthony Russo', 'Joe Russo']",714766572,2,Captain America: The Winter Soldier,459.0,128.0,81.0
211,0,0,0,1,0,0,0,0,0,0,...,"['Universal Pictures', 'Kaplan/Perrone Enterta...",2006-07-13,108,"['Anthony Russo', 'Joe Russo']",130628903,1,"You, Me and Dupree",104.0,128.0,99.0
1365,1,1,0,0,0,0,0,0,0,0,...,['Marvel Studios'],2016-04-27,147,"['Anthony Russo', 'Joe Russo']",1153337496,3,Captain America: Civil War,830.0,128.0,81.0
1512,1,1,0,0,0,0,0,0,0,0,...,['Marvel Studios'],2019-04-24,181,"['Anthony Russo', 'Joe Russo']",2797800564,4,Avengers: Endgame,2002.0,128.0,81.0
1513,1,1,0,0,0,0,0,0,0,0,...,['Marvel Studios'],2018-04-25,149,"['Anthony Russo', 'Joe Russo']",2046239637,3,Avengers: Infinity War,1766.0,128.0,81.0

In [7]:
df2[df2["compagny_score"] == df2.compagny_score.max()]

,Action,Adventure,Animation,Comedy,Crime,Documentary,Drama,Family,Fantasy,History,...,compagnies_production,date,duree,realisateur,recette,suite,titre,casting_score,realisateur_score,compagny_score
979,0,0,0,1,0,0,1,0,0,0,...,"['Columbia Pictures', 'Universal Pictures', 'H...",2009-07-30,146,['Judd Apatow'],71585235,1,Funny People,171.0,6.0,228.0

In [25]:
from dateutil import parser
import datetime
from dateutil.relativedelta import relativedelta

In [21]:
df ["date"] = pd.to_datetime(df["date"])
df.info()

In [45]:
for i, row in df.iterrows():
    try :
        df2 = df[df["date"] > df.loc[i, "date"] - relativedelta(months=1)]
        df2 = df2[df["date"] < df.loc[i, "date"] + relativedelta(months=1)]
        for k, row2 in df2.itterows :
            if row.Action == row2.Action | row.Adventure == row2.Advendture | row.Animation == row2.Animation | row.Comedy == row2.Comedy | row.Crime == row2.Crime | row.Documentary == row2.Documentary | row.Drama == row2.Drama | row.Family == row2.Family | row.Fantasy == row2.Fantasay |
            
    except :
        print(df.loc[i, "date"])


df.head(30)

C:\Users\KHO~1\AppData\Local\Temp/ipykernel_16304/355179310.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df2 = df2[df["date"] < df.loc[i, "date"] + relativedelta(months=1)]

NaT
NaT
NaT

,Action,Adventure,Animation,Comedy,Crime,Documentary,Drama,Family,Fantasy,History,...,budget,casting,compagnies_production,date,duree,realisateur,recette,suite,titre,nb_film_concu
0,0,0,0,1,0,0,0,0,0,0,...,40000000,"[Jim Carrey, Jeff Daniels, Laurie Holden, Rach...","[New Line Cinema, Universal Pictures, Conundru...",2014-11-12,110,"[Bobby Farrelly, Peter Farrelly]",169837010,3,Dumb and Dumber To,23.0
1,0,0,0,1,0,0,1,0,0,0,...,2000000,"[Nana Kiknadze, Artur Smolyaninov, Yevgeniya D...","[Central Partnership, Studio SLON]",2004-11-11,100,[Anna Melikyan],240000,1,Марс,27.0
2,1,1,0,0,0,0,0,0,0,0,...,170000000,"[Chris Evans, Scarlett Johansson, Sebastian St...",[Marvel Studios],2014-03-20,136,"[Anthony Russo, Joe Russo]",714766572,2,Captain America: The Winter Soldier,32.0
3,0,0,0,1,0,0,0,1,1,0,...,4000000,"[Mikhail Galustyan, Igor Vernik, Mariya Semkin...",[Enjoy Movies],2012-03-15,80,[Sarik Andreasyan],9938268,1,Тот ещё Карлосон!,27.0
4,1,1,0,0,0,0,0,0,0,0,...,68000000,"[Val Kilmer, Elisabeth Shue, Rade Šerbedžija, ...","[Paramount, Mace Neufeld Productions, Rysher E...",1997-04-03,116,[Phillip Noyce],118063304,1,The Saint,18.0
5,0,0,0,0,0,0,0,0,0,0,...,8000000,"[Glenn Jacobs, Christina Vidal, Luke Pegler, C...","[Lions Gate Films, WWE Studios]",2006-05-19,84,[Gregory Dark],18707966,1,See No Evil,26.0
6,0,1,1,0,0,0,0,1,0,0,...,128000000,"[Joaquin Phoenix, Jeremy Suarez, Jason Raize, ...",[Walt Disney Feature Animation],2003-10-23,85,"[Aaron Blaise, Robert Walker]",250397798,1,Brother Bear,18.0
7,0,0,0,1,0,0,0,0,0,0,...,35000000,"[Christina Ricci, Jesse Eisenberg, Milo Ventim...","[Craven-Maddalena Films, Outerbanks Entertainm...",2005-02-25,97,[Wes Craven],19294901,1,Cursed,20.0
8,1,0,0,0,0,0,0,0,0,0,...,28000000,"[Wanda De Jesus, Jason Statham, Rosemary Forsy...","[Screen Gems, Storm King Productions, Animatio...",2001-08-24,98,[John Carpenter],14010832,1,Ghosts of Mars,16.0
9,0,0,1,0,0,0,0,1,1,0,...,25000000,"[Paige O'Hara, Robby Benson, Richard White, Je...","[Walt Disney Pictures, Silver Screen Partners ...",1991-10-22,84,"[Gary Trousdale, Kirk Wise]",424967620,1,Beauty and the Beast,8.0
10,1,0,0,1,0,0,0,1,0,0,...,56000000,"[Vin Diesel, Lauren Graham, Faith Ford, Britta...","[Walt Disney Pictures, Spyglass Entertainment]",2005-03-04,95,[Adam Shankman],198636868,1,The Pacifier,19.0
11,0,0,0,1,0,0,1,1,1,0,...,28000000,"[Lindsay Lohan, Chris Pine, Samaire Armstrong,...","[20th Century Fox, Regency Enterprises, Cheyen...",2006-02-28,103,[Donald Petrie],38159905,1,Just My Luck,33.0
12,1,0,0,0,1,0,0,0,0,0,...,45000000,"[Jet Li, Morgan Freeman, Bob Hoskins, Vincent ...","[Canal+, Rogue Pictures, TF1 Films Production,...",2005-02-02,103,[Louis Leterrier],50871113,1,Unleashed,21.0
13,0,0,0,0,0,0,1,0,0,0,...,18000000,"[Jessica Alba, Mekhi Phifer, Joy Bryant, Romeo...","[Universal Pictures, Marc Platt Productions, N...",2003-11-24,94,[Bille Woodruff],62646763,1,Honey,19.0
14,0,0,0,1,1,0,0,0,0,0,...,30000000,"[Christian Slater, Cameron Diaz, Jon Favreau, ...","[PolyGram Filmed Entertainment, Initial Entert...",1998-09-11,100,[Peter Berg],9898412,1,Very Bad Things,19.0
15,1,0,0,0,0,0,0,0,0,0,...,12000000,"[David Belle, Cyril Raffaelli, Tony D'Amario, ...","[Canal+, TF1 Films Production, EuropaCorp]",2004-11-09,84,[Pierre Morel],9584131,1,Banlieue 13,25.0
16,1,1,0,0,0,0,1,0,0,1,...,85000000,"[Milla Jovovich, Dustin Hoffman, Faye Dunaway,...","[Columbia Pictures, Gaumont, Okko Production]",1999-10-27,158,[Luc Besson],66976317,1,Joan of Arc,25.0
17,1,0,0,0,0,0,0,0,0,0,...,135000000,"[Josh Lucas, Jessica Biel, Jamie Foxx, Sam She...","[Laura Ziskin Productions, Original Film, Phoe...",2005-07-27,121,[Rob Cohen],76932943,1,Stealth,28.0
18,0,0,0,0,0,0,0,0,1,0,...,60000000,"[Kevin Costner, Joe Morton, Ron Rifkin, Susann...","[Universal Pictures, Spyglass Entertainment, S...",2002-02-22,104,[Tom Shadyac],52322400,1,Dragonfly,23.0
19,0,0,0,0,0,0,0,0,0,0,...,15000000,"[Camilla Belle, Katie Cassidy, Tommy Flanagan,...","[Davis Entertainment, Screen Gems]",2006-02-03,87,[Simon West],67062123,1,When a Stranger Calls,28.0
20,1,1,0,1,0,0,0,1,0,0,...,35000000,"[Alexa PenaVega, Daryl Sabara, Antonio Bandera...","[Miramax, Dimension Films, Troublemaker Studios]",2001-03-18,88,[Robert Rodriguez],147934180,1,Spy Kids,17.0
21,1,1,0,1,0,0,0,0,0,0,...,30000000,"[Kiefer Sutherland, Chris O'Donnell, Oliver Pl...","[Walt Disney Pictures, Caravan Pictures]",1993-11-11,105,[Stephen Herek],53898845,1,The Three Musketeers,14.0
22,0,0,0,0,1,0,1,0,0,0,...,40000000,"[50 Cent, Joy Bryant, Adewale Akinnuoye-Agbaje...","[Paramount, MTV Films, Cent Productions Inc.]",2005-11-09,117,[Jim Sheridan],46442528,1,Get Rich or Die Tryin',23.0
23,1,1,0,0,0,0,0,0,0,0,...,50000000,"[Kurt Russell, Stacy Keach, Steve Buscemi, A.J...","[Paramount, Rysher Entertainment]",1996-08-09,97,[John Carpenter],42277365,2,Escape from L.A.,19.0
24,0,0,0,0,0,0,0,0,0,0,...,19000000,"[Ryan Reynolds, Melissa George, Jesse James, J...","[Metro-Goldwyn-Mayer, Radar Pictures, Platinum...",2005-04-14,90,[Andrew Douglas],108047131,1,The Amityville Horror,28.0
25,0,0,0,0,0,0,0,0,0,0,...,40000000,"[Elisha Cuthbert, Chad Michael Murray, Brian V...","[Village Roadshow Pictures, Warner Bros. Pictu...",2005-04-30,113,[Jaume Collet-Serra],68766121,1,House of Wax,32.0
26,0,0,0,0,0,0,0,0,0,0,...,9000000,"[Jon Foster, Samaire Armstrong, Frankie Muniz,...","[Spyglass Entertainment, Hollywood Pictures, W...",2006-03-24,85,[William Brent Bell],27105095,1,Stay Alive,30.0
27,0,0,0,0,0,0,1,0,1,0,...,15000000,"[Agnes Bruckner, Hugh Dancy, Katja Riemann, Ol...","[Metro-Goldwyn-Mayer, Lakeshore Entertainment,...",2007-01-26,98,[Katja von Garnier],6340723,1,Blood and Chocolate,22.0
28,1,1,0,0,0,0,0,0,0,0,...,80000000,"[Heike Makatsch, Armin Rohde, David Oyelowo, W...","[Epsilon Motion Pictures, Franchise Pictures, ...",2005-05-15,101,[Peter Hyams],11665465,1,A Sound of Thunder,35.0
29,0,0,0,0,0,0,1,0,0,0,...,15000000,"[Sarah Michelle Gellar, Peter O'Brien, Adam Sc...","[Rogue Pictures, Intrepid Pictures, Biscayne P...",2006-11-10,85,[Asif Kapadia],11992014,1,The Return,37.0