### Import des librairies

In [4]:
# Libraries: Standard ones
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Library for boxplots
import seaborn as sns

# K-means function
from sklearn.cluster import KMeans

# Functions for silhouette
from sklearn.metrics import silhouette_samples, silhouette_score

# Function to standardize the data 
from sklearn.preprocessing import scale

# Functions for hierarchical clustering
from scipy.cluster.hierarchy import dendrogram, linkage
from scipy.cluster.hierarchy import cophenet
from scipy.spatial.distance import pdist

### Import et transformation du dataset pour l'exploitation

In [5]:
df = pd.read_csv('data\provisoire.csv', index_col=0)
df['date'] = pd.to_datetime(df['date'])
df['year'] = df['date'].dt.year
df['month'] = df['date'].dt.month
df['day'] = df['date'].dt.day
df.drop(['date'], inplace = True, axis = 1)
df

,titre,duree,budget,recette,casting_score,realisateur_score,compagny_score,suite,Action,Adventure,...,Music,Romance,Science Fiction,TV Movie,Thriller,War,Western,year,month,day
0,Dumb and Dumber To,110,40000000,169837010,79.0,27.0,135.0,3,0,0,...,0,0,0,0,0,0,0,2014,11,12
1,Captain America: The Winter Soldier,136,170000000,714766572,459.0,128.0,81.0,2,1,1,...,0,0,1,0,0,0,0,2014,3,20
2,Тот ещё Карлосон!,80,4000000,9938268,0.0,0.0,0.0,1,0,0,...,0,0,0,0,0,0,0,2012,3,15
3,See No Evil,84,8000000,18707966,5.0,0.0,0.0,1,0,0,...,0,0,0,0,1,0,0,2006,5,19
4,Brother Bear,85,128000000,250397798,24.0,0.0,0.0,1,0,1,...,0,0,0,0,0,0,0,2003,10,23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3669,Teenage Mutant Ninja Turtles,101,125000000,477200000,58.0,9.0,4.0,1,1,1,...,0,0,1,0,0,0,0,2014,8,7
3670,Fall,107,3000000,11900000,1.0,0.0,21.0,1,0,0,...,0,0,0,0,1,0,0,2022,8,11
3671,Mat Kilau,118,1814059,5283447,0.0,0.0,0.0,1,1,0,...,0,0,0,0,0,1,0,2022,6,23
3672,Ambasamuthiram Ambani,150,400000,2000000,0.0,0.0,1.0,1,0,0,...,0,1,0,0,0,0,0,2010,7,2
3673,Last Minute Marocco,88,2100000,400000,0.0,0.0,0.0,1,0,0,...,0,0,0,0,0,0,0,2007,4,13

In [6]:
df['casting_score'] = df['casting_score'].map(int)
df['realisateur_score'] = df['realisateur_score'].map(int)
df['compagny_score'] = df['compagny_score'].map(int)
df.dtypes

titre                object
duree                 int64
budget                int64
recette               int64
casting_score         int64
realisateur_score     int64
compagny_score        int64
suite                 int64
Action                int64
Adventure             int64
Animation             int64
Comedy                int64
Crime                 int64
Documentary           int64
Drama                 int64
Family                int64
Fantasy               int64
History               int64
Horror                int64
Music                 int64
Romance               int64
Science Fiction       int64
TV Movie              int64
Thriller              int64
War                   int64
Western               int64
year                  int64
month                 int64
day                   int64
dtype: object